*{
    padding: 0;
    margin:0;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: aliceblue;
}
nav{
    display: flex;
    background-color:rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin:10px 0px;
    z-index: 1000;
    flex-wrap: wrap;
    position: sticky;
    margin-top:0px;
}
.first-section .nav nav img{
    width:60px;
    border-radius: 25px;
    margin-left: 70px;
    padding: 10px 10px;
}
.menu-bar ul{
    display: flex;
}
.menu-bar ul li{
    list-style: none;
    margin:10px;
}
.menu-bar ul li a{
    text-decoration: none;
    color:rgb(132, 225, 242);
    text-transform: capitalize;
}
.menu-bar ul li::after{
    content:'';
    background-color: aquamarine;
    display: block;
    height: 2px;
    width:0px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 10px;
}   
.menu-bar ul li:hover::after{
    width: 40px;
}
.menu-bar ul li:hover{
    font-weight: 700;
}
.page-content .first-page .h1{
    text-align: left;
    margin-left: 30px;
    color:rgb(12, 9, 9);
    text-transform: uppercase;
    font-size:25px;
    display: inline-block;
    border-radius: 10px;
}
.page-content .first-page .h1::first-letter{
    color:rgb(0, 217, 255);
    font:lighter;
    font-size:90px;
    margin:1px
}
.page-content .first-page .h1:hover{
    background-color: whitesmoke;
}
.page-content h3{
    color:rgb(6, 0, 185);
    font-size: 20px;
    margin-left: 50px;
    text-transform: capitalize;
    color:rgb(0, 217, 255);
    font-weight: 500;
    font-style: oblique;
}
.page-content h3:hover{
    font-weight: 900;
    text-decoration: underline;
}
.information{
    font: arial;
    font-size: 25px;
}
.second-section{
    display: flex;
}
.image-area img{
    width:400px;
    margin:30px;
    border-radius: 10px;
    border:groove 2px rgb(0, 217, 255);
    padding:5px;
}
.image-area img:hover{
   transform: scale(1.0);
}
.second-nav{
    position: sticky;
    top:1px;
    z-index: 1000;
}
.second-nav nav{
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
.second-nav nav ul{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.second-nav nav ul li{
    margin:20px 30px;
    list-style: none;
}
.second-nav nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color:aqua;
}
.img-links{
    background-color: rgb(206, 242, 242);
    border-radius: 25px;
    text-align: center;
    margin:10px;
}
.page-content2{
    position: relative;
}
.third-section .page-content2 .img-links img{
    width:250px;
    display: inline-block;
    margin:20px;
    align-items: center;
    height: 300px;
}
.third-section .page-content2 .img-links img:hover{
    transform: scale(1.1);
}
.footer{
    background-color: rgba(0, 255, 255, 0.701);
    padding-top: 30px;
    margin:0px 0px;
    text-align: center;
}
.footer .socials{
    color: beige;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: solid rgb(255, 255, 255) 1px;
    font-size: 25px;
    
}
.social-image-links img{
    width:20px;
    border:groove 2px rgb(140, 244, 253);
    border-radius: 4px;
    padding:10px;
    margin:15px;
}
.social-image-links img:hover{
    cursor: progress;
    transform: scale(1.2);
}
.copywrite {
    background-color: rgb(255, 255, 255);
    padding: 10px 30px;
}
.copywrite span{
    font:arial;
    text-transform: capitalize;
    color:rgb(252, 139, 0);
}
.copywrite span:hover{
    color:rgb(174, 96, 0);
}
.copywrite p a{
    text-decoration: none;
    font-size: 15px;
    color:aqua;
    padding: 2px 50px;
}
.copywrite p a:hover{
    cursor: pointer;
    /* text-decoration: line-through; */
    color:rgb(3, 96, 96);
    background-color: rgba(255, 255, 255, 0.937);
}
.third-section .page-content2 h3{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    color: rgb(7, 128, 88);
}
.button button{
    background-color:white;
    outline: none;
    padding: 10px;
    border:none;
    position: absolute;
    right:15px;
    bottom: 2px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 13px;
}
.button button:hover{
    background-color: aliceblue;
    cursor:pointer;
}
@media (max-width:700px){
    body{
        flex-wrap: wrap;
        }
        .image-area img{
            display: none;
        }
        .third-section .page-content2 .img-links img{
            width:200px;
        }
    }