*{
    margin: 0;
    padding: 0;
   
}
body{
    width:100%;
   background-image: url(/img/best-survey-skins.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
h1{
    text-transform: capitalize;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    font:bolder;
    font-size: 55px;
    color:rgb(0, 19, 128);
    position: sticky;
    top:1px;
    /* margin-left:50px ; */
}
.main-form{
    background-color: rgba(87, 179, 181, 0.542);
    font-family:'Times New Roman', Times, serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.names label{
    color:rgb(55, 103, 215);
    font:italic;
}
.names label:hover{
    text-decoration: underline rgba(96, 96, 188, 0.822);
    cursor:pointer;
}
.names input{
    outline: 2px solid rgba(93, 231, 222, 0.874);
}
.names input:hover{
    cursor: pointer;
}
.names input:valid{
    border: solid 2px rgb(85, 255, 102);
}
.names input:invalid{
    border: solid 2px rgb(255, 85, 85);
}
img{
    position: absolute;
    width:70px;
    display:inline;
    margin:2px 20px;
    padding:3px 10px;
    z-index: 1;
}
.phone-number{
    color:rgb(55, 103, 215);
}
.phone-number input{
    outline: 1px solid rgba(93, 231, 222, 0.874);
}
h3{
    font-family: cursive;
    text-transform: capitalize;
    color:rgb(59, 100, 101);
}
h4{
    text-transform: capitalize;
    font:message-box;
}
h4:hover{
    border-bottom: solid 2px lightsteelblue;
    cursor:pointer;
}
.joining{
    display:flex ;
    border: solid 2px skyblue;
    outline: none;
}
.joining:hover{
    cursor: pointer;
}
#answer.joining{
    background-color:rgb(201, 218, 241);
    border-radius: 5%;
}
.login-here{
    text-transform: capitalize;
    font-family: cursive;
    color:rgb(3, 1, 1);
    margin:10px;
}
.login-here a{
    text-decoration: none;
    color:rgb(0, 208, 255);
}
.login-here a:hover{
    border-bottom: solid 2px rgb(0, 208, 255);
}
.select h4:focus >#answer.joining{
    display:block;
}
.submit #submit{
    background-color: rgba(89, 89, 215, 0.824);
    outline: none;
    border:none;
    color:rgb(0, 199, 196);
    font-size: 17px;
    padding:5px 15px;
    border-radius: 10px;
}
.submit #submit:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(173, 173, 233, 0.824) ;
    cursor: pointer;
}
.footer{
    display: block;
    background-color: aqua;
    padding-top: 20px;
}
.footer .login-with{
    display:flex;
    align-items: center;
    justify-content: center;
}
.footer .login-with p{
    color:rgb(60, 93, 153);
    text-transform: capitalize;
    font-family: cursive;  
}
.footer .login-with p::after{
    content:';';
    color:rgb(40, 122, 122);
    font-size:20px
}
.footer .login-with .social-links-login img{
    display:inline-block;
    flex-direction:column;
    position: relative;
    white-space: nowrap;
    width:25px;
    border-radius: 10px;
    border:2px solid rgb(15, 161, 183);
}
.footer .login-with .social-links-login  .google{
    width:50px;
    padding: 20px 10px;
}
.footer .copywrites span{
    display: block;
    position: relative;
    color:rgb(0, 251, 255);
    align-items: center;
    background-color: rgb(41, 59, 74);
    text-align: center;
    padding:15px;
}
@media screen and (max-width: 750px){
    img{
       position: relative;
        align-items: center;
    }
    .header-img{
       align-items: center;
       background-color: rgba(143, 143, 238, 0.842);
       justify-content: space-evenly;
    }
}
@media screen and (max-width: 550px){
    h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 490px){
    h1{
        font-size:35px;
    }
}
@media screen and (max-width: 330px){
    body{
        width:100%;
    }
}