*{
    margin:0;
    padding: 0;
    font-family: cursive;
}
.form form{
    background-color: rgb(121, 136, 206);
    text-align: center;
    text-transform: capitalize;
}
.form form .login h1{
    background-color: rgb(61, 114, 161);
    text-align: center;
    text-transform: capitalize;
    color:rgb(0, 19, 128);
}
.main-form input{
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 10px;
    border: none;
    outline: none;
}
.main-form input:hover{
    background-color:rgb(208, 220, 220);
}
.main-form input:focus{
    border: solid 1.5px black;
}
.login-with{
    display:flex;
    background-color: rgb(0, 140, 255);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding:0;
}
.login-with span{
    font-size: 17px;
    text-transform: capitalize;
    color:azure;
    align-items: center;
    margin: 0px 10px;
}
.login-with .facebook-img img{
    width:50px;
    margin: 0px 10px;
    padding:5px;
}